In [9]:
# set in python
thisSet = {"apple", "banana", "cherry"}
print(thisSet)

{'apple', 'banana', 'cherry'}

In [2]:
#Adding more element to the set
thisSet.add("orange")
print(thisSet)

{'orange', 'apple', 'banana', 'cherry'}

In [7]:
#Set does not allow duplicate values
thisSet.add("apple")
print(thisSet)

{'orange', 'apple', 'cherry'}

In [4]:
# Creating a set using the set() constructor
newSet = set(("apple", "banana", "cherry"))
print(newSet)

{'apple', 'banana', 'cherry'}

In [10]:
#removing the element from the set
thisSet.remove("banana") # it will raise an error if the element is not present in the set
print(thisSet)

{'apple', 'cherry'}

In [17]:
# length of the set 
print(len(thisSet))

1

In [11]:
# removing the element from the set using discard
thisSet.discard("apple") #if the element does not exist in the set then it will not throw an error
print(thisSet)

{'cherry'}

In [12]:
#set support different data types
set1 = {"apple", "banana", "cherry",2,3,True,False}
print(set1)

{False, True, 2, 3, 'banana', 'apple', 'cherry'}

In [13]:
#Accessing the element of the set
for x in set1:
    print(x)

False
True
2
3
banana
apple
cherry

In [14]:
#adding two sets using union
set2 = {"google", "microsoft", "apple"}
set3 = set1.union(set2)
print(set3) #it will not add the duplicate values

{False, True, 2, 3, 'banana', 'microsoft', 'cherry', 'google', 'apple'}

In [16]:
#adding two elements using update   
set1.update(set2)
print(set1)

{False, True, 2, 3, 'banana', 'microsoft', 'cherry', 'google', 'apple'}